name: Terraform CI/CD

on:
  push:
    branches:
      - master

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    # Configure AWS credentials for Terraform AND aws cli
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: eu-north-1

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      
    - name: Terraform Init
      working-directory: terraform
      run: terraform  init
              
    - name: Terraform Plan
      working-directory: terraform
      run: terraform plan
            
    - name: Terraform Apply
      working-directory: terraform
      run: terraform apply -auto-approve    
